ul{
  list-style-type: none;
  margin:0; padding:0;
  
 }
li {

  background: rgb(238,258,238);
  padding:4em;
  border-radius: 4px;
  margin-bottom: 7px;
  display: grid;
 
  
  }
p{
  font-weight: bold;
  margin-left: 20px;
}
  